@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Mukta:100,200,300,400,500,600,700&display=swap');

/* ------------------------------ Colours */

.bg-color-navbar{
    background-color:rgb(142, 189, 155);   #rgb(142, 189, 155);
    min-height: 50px; 
}

.navbar-toggler-icon{
    background-color: #727272;
}

.ui-menu-color-home{
    background-color: rgb(142, 189, 155);
    color: #727272;  
}

.ui-menu-color-bar{
    background-color: rgb(142, 189, 155);
}

.ui-menu-color-restaurant{
    background-color: rgb(142, 189, 155);
}

.ui-menu-color-venue{
    background-color: rgb(142, 189, 155);
}

.ui-menu-color-joinus{
    background-color: rgb(142, 189, 155);
}

.ui-menu-color-download{
    background-color: rgb(142, 189, 155);
}

.bg-color-name-description-slogan{
    background-color: #b1aeae;       //#136f28
}

.bg-color-contact-details{
    background-color: #b1aeae;   //727272
}

.bg-color{
    background-color: #b1aeae; 
}

.icon-bar{
    border:1px solid orange;
}

/* ------------------------------ Special padings/margins/text */

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.color-name-description-slogan{
    text-align:center;
}

.uppercase{                                                                     /* POSSIBLY REMOVE THIS SECTION */
    text-transform: uppercase;
}

.general-sub{                                                                   /* POSSIBLY REMOVE THIS SECTION */
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: #fafafa;
    text-align: center;
}

.inline-block{
    display: inline-block;
}

.follow-us-placement{
    margin-left:33%;
    margin-right: 33%; 
}

.bottom{                                //Stack Overflow (https://stackoverflow.com/questions/45410467/how-to-align-element-to-bottom-in-a-bootstrap-column)
    position: absolute;
    bottom: 0;
    left: 0;
}

.fa-align-center{
    vertical-align: center;
}

/* ------------------------------ Heading */

header{
    margin: 0;
}


.heading{
    
}

.contact{
    margin-left: 50px;
}

.logo{
    background: url("../images/location.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name{
    font-family: "Mukta", sans-serif;
    font-weight: 300;
    font-size: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

.description{
    font-family: "Mukta", sans-serif;
    font-weight: 100;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

.slogan{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.contacts-text{                                                                         
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #fafafa;
}

.list-inline-item:not(:last-child){
    margin: 0;
}

.menucontainer{
    font-size:0;
    padding-bottom: 0%;
}

#nav li{
    font-size: 14px;
    padding: 0;
}

.menuitem{
    height: 120px;
    padding: 0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 80px;
}

.menuitem a i{
    padding-top:12px;
    display: block;
    color: #fff;
    font-size: 20px;
    padding-bottom:12px;
}

.menuitem span{
    display: inline;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

#nav{
    margin: 0;
}

.sm-button-padding{

    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 80px;
    align-items: center;
}

.page-details-text{
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px
}

/* ------------------------------ Footer */ 

footer{
    background-color: rgb(142, 189, 155);              /* #b1aeae;   //727272 */
    min-height: 120px;
}

.footer-text{
    font-family: "Montserrat", sans-serif;
    color: #111111;
    font-size: 15px;
    text-align: center;
    vertical-align: center;
}

contacts-text-footer{                                                                         
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    color: #fafafa;
}

contacts-text{                                                                         
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #fafafa;
}

.social-links{
    padding-bottom: 15px; 
}

.social-links-footer{
    padding-bottom: 15px; 
}

.social-links-footer-placement{
    margin-left: 400px;
    padding-top:5px;
    padding-bottom:5px;
}



.social-links li a i{
    width: 48px;
    height: 48px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 11px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

#footer-details{
    padding: 20px;
}