@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Mukta:100,200,300,400,500,600,700&display=swap');

/* ------------------------------ Colours */

.bg-color-navbar{
    position: fixed;
    background-color:rgb(142, 189, 155);   #rgb(142, 189, 155);
    min-height: 45px;
    max-height: 60px;
}

navbar-font{
    color: #ffffff !important;
    z-index: -1;
}

dropdown{
    background: rgb(142, 189, 155);
    color: rgb(142, 189, 155);
}

nav-link-dropdown{
    background: rgb(142, 189, 155);
}

v-deep .nav-link {
   color: #fff!important;
}

.ui-menu-color-home{
    background-color: rgb(142, 189, 155);
    color: #727272;  
}

.ui-menu-color-bar{
    background-color: rgb(142, 189, 155);
}

.ui-menu-color-restaurant{
    background-color: rgb(142, 189, 155);
}

.ui-menu-color-venue{
    background-color: rgb(142, 189, 155);
}

.ui-menu-color-joinus{
    background-color: rgb(142, 189, 155);
}

.ui-menu-color-download{
    background-color: rgb(142, 189, 155);
}

.bg-color-name-description-slogan{
    background-color: #b1aeae;       //#136f28
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.bg-color-contact-details{
    background-color: #ffffff;   //727272
}

.bg-color-company-details{
    background-color: #b1aeae; 
    height: 100%;
    width: 100%;
}

#bg-color{
    background-color: #b1aeae; 
    min-height: 150px;
    max-height: 500%;
    /* height: 100%;
    width: 100%; */
    padding: 0;
}

.icon-bar{
    border:1px solid #17A2B8;
}

.hvr-float-shadow:before{
    background: rgba(45, 107, 88, 1, 0.2)   //https://www.hexcolortool.com/#2d6c59
}

.sign-up-choice-color{
    font: #17A2B8;
}

.list-unstyled{
  list-style-type: none;
}

.bg-contact-us-details{
    background-color: #b1aeae; 
}


/* ------------------------------ Special padings/margins/text */

.name-margin{
    margin-top: 60px;
}

.logo-size{
    min-height: 100%;
    max-height: 100%;
}

#logo-margins{
    width: 100%;
    min-height: 50%;
    max-height: 50%;

}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.navbarNavDropdown-color{
    color: #ffffff;
}

.card-body{
    margin: 0 auto;
    background-color: #b1aeae;
}

.contacts-page{
    margin-top: 20px 0px;
    height: 760px;
    /*width: 100%;
    display: inline-block;*/
}

.uppercase{                                                                     /* POSSIBLY REMOVE THIS SECTION */
    text-transform: uppercase;
}

.general-sub{                                                                   /* POSSIBLY REMOVE THIS SECTION */
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: #fafafa;
    text-align: center;
}

.inline-block{
    display: inline-block;
}

.follow-us-placement{
    display: inline-block;
    margin-left: 35%;
    margin-right:35%; 
}

.bottom{                                //Stack Overflow (https://stackoverflow.com/questions/45410467/how-to-align-element-to-bottom-in-a-bootstrap-column)
    position: absolute;
    bottom: 0;
    left: 0;
}

.fa-align-center{
    vertical-align: center;
}

.signupsmall{
    text-align: center;
}

.signupbuttoncentre{
    text-align: center;
    margin: 0;
}

.contact-us-sm-links{
    min-height: 400px;
}

.contact-us-form{
    min-height: 460px;
}

https://stackoverflow.com/questions/1027354/i-need-an-unordered-list-without-any-bullets


#contacts-page {
    width: :fullscreen;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: 0px;
}

.contact-form{
    padding: 0;
    margin: 0 auto;
    max-width: 50%;
    /* margin-left: 25%;
    margin-right: 25%; */
}

/* ------------------------------ Heading */

header{
    margin: 0;
}

.contact{
    margin-left: 50px;
}

.logo{
    position: relative;
    background: url("../images/location.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 580px;
    padding: 0;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.restaurant{
    position: relative;
    background: url("../images/restaurant1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 580px;
    padding: 0;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.bar{
    position: relative;
    background: url("../images/bar1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 580px;
    padding: 0;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;    
}

.venue{
    position: relative;
    background: url("../images/venue1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 580px;
    padding: 0;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;  
}

.name{
    font-family: "Mukta", sans-serif;
    font-weight: 300;
    font-size: 55px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

.description{
    font-family: "Mukta", sans-serif;
    background-color: #b1aeae; 
    font-weight: 100;
    font-size: 35px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    color: #fff;
}

.slogan{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.contacts-text{                                                                         
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #fafafa;
}

.list-inline-item:not(:last-child){
    margin: 0;
}

.menucontainer{
    font-size:0;
    padding-bottom: 0%;
}

#nav li{
    font-size: 14px;
    padding: 0;
}

.menuitem{
    height: 120px;
    padding: 0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 80px;
}

.menuitem a i{
    padding-top:12px;
    display: block;
    color: #fff;
    font-size: 20px;
    padding-bottom:12px;
}

.description-heading-display{
    text-align: center;
    padding-top: 20px;
    /*padding-bottom: 20px;*/
}

.description-wording-display{
    display: inline-block;
    padding-top: 20px;
    /*padding-bottom: 2.5%;*/
}

.menuitem span{
    display: inline;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

#nav{
    margin: 0;
}

.sm-button-padding{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 80px;
    align-items: center;
}

.page-details-text{
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    padding-bottom: 0;
}

.button-details-text{
    margin-left: 20%;
    margin-right: 20%;
    vertical-align: center;
}

.sign-up-button-text{
    margin-top: 20px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 20px;
    padding-bottom: 0;
}

/* ------------------------------ Footer */ 

-------------------- footer{
    background-color: rgb(142, 189, 155);                 /* #b1aeae;   //727272 */
}


#footer-color{
    background-color: rgb(142, 189, 155);
}


#footer{                                                    /* https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
    min-height: 155px;
    margin: 0;
    bottom: 0;
    padding: 0;
    /* background-color: rgb(142, 189, 155); */
}

.footer-margins{
    margin-top: 0px;
    margin-bottom: 10%;
}

.footer-text{
    font-family: "Mukta", sans-serif;
    color: #111111;
    font-size: 15px;
    font-weight: 300;
    padding: 0;
    margin:0;
}

.social-links-text{
    padding: 0px;
}

.social-links li a i{
    width: 48px;
    height: 48px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

.social-links-footer li a i{
    width: 32px;
    height: 32px;
    padding: 8px 0;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

.footer-details{
    padding: 0px;
}

.footer-format-all{
    font-family: "Mukta", sans-serif;
    color: #111111;
    font-size: 15px;
    text-align: centre;
    margin-left: 30%;
    margin-right: 30%;
    text-decoration: none;
    max-height: 50px;
}


/* ------------------------------ Media Queries */ 

@media(min-width: 992px) {
    .contact-form{
        padding-top: 10px;
        margin: 0 auto;
        max-width: 80%;
    }
}