@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Mukta:100,200,300,400,500,600,700&display=swap');

/* ------------------------------ Colours */

.bg-color-navbar{
    position: fixed;
    background-color:rgb(142, 189, 155);
    min-height: 45px;
    max-height: 60px;
}

.ui-menu-color-home{
    background-color: rgb(142, 189, 155);
}

.ui-menu-color-bar{
    background-color: rgb(142, 189, 155);
}

.ui-menu-color-restaurant{
    background-color: rgb(142, 189, 155);
}

.ui-menu-color-venue{
    background-color: rgb(142, 189, 155);
}

.ui-menu-color-contact-us{
    background-color: rgb(142, 189, 155);
}

.ui-menu-color-download{
    background-color: rgb(142, 189, 155);
}

.bg-color-company-details{
    background-color: #b1aeae; 
    height: 100%;
    width: 100%;
}

#bg-color{
    background-color: #b1aeae; 
    min-height: 150px;
    max-height: 500%;
    padding: 0;
}

.icon-bar{
    border:1px solid #17A2B8;
}

.sign-up-choice-color{
    font: #17A2B8;
}

/* ------------------------------ Special paddings/margins/text */

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.card-body{
    margin: 0 auto;
    background-color: #b1aeae;
}

.uppercase{                                                                     
    text-transform: uppercase;
}

.general-sub{                                                                   
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: #fafafa;
    text-align: center;
}

.inline-block{
    display: inline-block;
}

.follow-us-placement{
    display: inline-block;
    margin-left: 35%;
    margin-right:35%; 
}

.contact-us-sm-links{
    min-height: 400px;
}

.contact-us-form{
    min-height: 415px;
    margin: 0 auto;
    bottom: 0;
}

.contact-form{
    padding: 0;
    margin: 0 auto;
    max-width: 50%;
}

/* ------------------------------ Heading */

contact{
    margin-left: 50px;
}


/* ------------------------------ Images */

.logo{
    position: relative;
    background: url("../images/location.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 580px;
    padding: 0;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.restaurant{
    position: relative;
    background: url("../images/restaurant1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 580px;
    padding: 0;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.bar{
    position: relative;
    background: url("../images/bar1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 580px;
    padding: 0;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;    
}

.venue{
    position: relative;
    background: url("../images/venue1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 580px;
    padding: 0;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;  
}

.name{
    font-family: "Mukta", sans-serif;
    font-weight: 300;
    font-size: 55px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

.description{
    font-family: "Mukta", sans-serif;
    background-color: #b1aeae; 
    font-weight: 100;
    font-size: 35px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    color: #fff;
}

.contacts-text{                                                                         
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #fafafa;
}

.description-heading-display{
    text-align: center;
    padding-top: 20px;
    /*padding-bottom: 20px;*/
}

.description-wording-display{
    display: inline-block;
    padding-top: 20px;
    /*padding-bottom: 2.5%;*/
}

.description-wording-display-index{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    /*padding-bottom: 2.5%;*/
}

.button-details-text{
    margin-left: 20%;
    margin-right: 20%;
    vertical-align: center;
}

.sign-up-button-text{
    margin-top: 20px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 20px;
    padding-bottom: 0;
}

/* ------------------------------ Footer */ 

#footer-color{
    background-color: rgb(142, 189, 155);
}

.footer-margins{
    margin-top: 0px;
    margin-bottom: 10%;
}

.footer-text{
    font-family: "Mukta", sans-serif;
    color: #111111;
    font-size: 15px;
    font-weight: 500;
    padding: 0;
    margin:0;
}

.social-links li a i{
    width: 48px;
    height: 48px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

.social-links-footer li a i{
    width: 32px;
    height: 32px;
    padding: 8px 0;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

.footer-details{
    padding: 0px;
}

.footer-format-all{
    font-family: "Mukta", sans-serif;
    color: #111111;
    font-size: 15px;
    text-align: centre;
    margin-left: 30%;
    margin-right: 30%;
    text-decoration: none;
    max-height: 50px;
}


/* ------------------------------ Media Queries */ 

@media(max-width: 992px) {
    .contact-form{
        padding-top: 10px;
        margin: 0 auto;
        max-width: 80%;
    }
}