@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Mukta:100,200,300,400,500,600,700&display=swap');

/* ------------------------------ Colours */

.bg-color-navbar-footer{
    background-color: #111111;
}

.bg-color-main-contactus{
    background-color: #f8f2ed; /*#b1aeae*/ /*a591808*/
    height: auto;
    width: auto;
}

.top-contacts-bar{
    background-color: #a59180;
    font: #111111;
    padding-top: 5px;
    padding-bottom: 5px;
}

.icon-bar{
    border:1px solid #a59180;
}

.bg-color-bottom-div{
    background-color: #f8f2ed;
}

/* ------------------------------- Special paddings/margins/text */

.h6{
    display: inline
}

.our-story-section{
    max-height: 500px;
    margin: 0px;
    margin-bottom: 50px;
}

.left-side{
    /*margin-right: 50px;*/
    display: inline;
    float: left;
    min-width: 50px;
    max-width: 300px;
}

.right-side{
    /*margin-right: 50px;*/
    display: inline;
    float: right;
    min-width: 50px;
    max-width: 300px;
}

.d-sm-location-top-right{

}

.description-wording-display{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.description-wording-display-index{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    text-align: left;
}

description-wording-display-index{

}


.section-wording-display{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.below-footer-wording-display{
    margin-bottom: 20px;
    padding-bottom: 60px;
    text-align: center;
    font-weight: bold;
}

.general-text-format{                                                                   
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #fafafa;
    text-align: center;
}

.text-format-aboutus{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-display: block;
    color: #111111;
    margin-top: 30px;
    text-align: center;
    vertical-align: center;
}

.text-format-bar{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-display: block;
    color: #111111;
    margin-top: 0px;
    text-align: right;
    vertical-align: center;
}

.text-format-restaurant{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-display: block;
    color: #111111;
    margin-top: 0px;
    text-align: right;
    vertical-align: center;
}

.text-format-venue{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-display: block;
    color: #111111;
    margin-top: 0px;
    text-align: right;
    vertical-align: center;
}

.col-8-padding{
    margin-top: 20px;
}

.card-body{
    max-width: 500px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px; /* 25px;*/
    align-items: center;
}

.btn-light-position{
    min-width: 33%;
    max-width: 66%;
    margin-left: 20px;
    margin-right: 20px;
}

.button-position{              
    min-width: 300px;
}

.button-font{
    font: #111111;
}

.ul-navbar-links{
    text-decoration: none;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 2.5px;
}

.navbar-sections{
    display: inline;
    min-width: 200px;
    font: #ffffff;
}

.page-bottom-spacing{
    /*margin-bottom: 200px;*/
    max-height: 200px;
    max-width: 200px;
    background-color: #a59180;
}

/* ------------------------------ Images */

.location-top-left{
    background: url('../images/location(resize).jpg');
    background-position: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 50px; /* -20px */
    min-height: 400px;
}

.location-top-right{
    background: url('../images/bar_view_with_seats(resize).jpg');
    background-position: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 50px;
    min-height: 400px;
}

.bar-welcome-image{
    background: url('../images/bar_welcome_image.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    margin-top: 20px;
    margin-bottom: 0px;   
}


.restaurant-image{
    background: url('../images/restaurant(resize2).jpg');
    background-position: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    margin-top: 20px;
}

.venue-image{
    background: url('../images/venue(resize).jpg');
    background-position: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    margin-top: 20px;
}

/* ------------------------------------- Social Media */

.social-links-footer li a i{
    width: 32px;
    height: 32px;
    padding: 8px 0;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    color: #141414;
    background: #a59180;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}