@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Mukta:100,200,300,400,500,600,700&display=swap');

/* ------------------------------ Colours */

.bg-color-navbar-footer{
    background-color: #141414;
}

.bg-color-main{
    background-color: #a59180; /*#b1aeae*/
    height: auto;
    width: auto;
}


/* ------------------------------- Special paddings/margins/text */

.description-wording-display-index{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}

.general-text-format{                                                                   
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: #fafafa;
    text-align: center;
}

/* ------------------------------ Images */

.bar-welcome-image{
    background: url("../images/bar_welcome_image.jpg");
    background-position: left;
    background-repeat: no-repeat;
    max-height: 5000px;
}



