@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Mukta:100,200,300,400,500,600,700&display=swap');

/* ------------------------------ Colours */

.bg-color-navbar-footer{
    background-color: #111111;
}

.bg-color-main-contactus{
    background-color: #a59180; /*#b1aeae*/
    height: auto;
    width: auto;
}

.top-contacts-bar{
    background-color: #a59180;
    font: #111111;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}

.icon-bar{
    border:1px solid #a59180;
}

.bg-color-bottom-div{
    background-color: #a59180;
}

/* ------------------------------- Special paddings/margins/text */

.our-story-section{
    max-height: 500px;
    margin: 0px;
}

.page-margins{
    margin: 0;
    padding: 0; 
}

.description-wording-display{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.description-wording-display-index{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}

.below-footer-wording-display{
    padding-bottom: 75px;
    text-align: center
}

.general-text-format{                                                                   
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: #fafafa;
    text-align: center;
}

.text-format-aboutus{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: #fafafa;
    margin-top: 50px;
    text-align: center;
    vertical-align: center;
}

.text-format-bar{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: #fafafa;
    margin-top: 0px;
    text-align: right;
    vertical-align: center;
}

.text-format-restaurant{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: #fafafa;
    margin-top: 0px;
    text-align: right;
    vertical-align: center;
}

.text-format-venue{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: #fafafa;
    margin-top: 0px;
    text-align: right;
    vertical-align: center;
}

.col-8-padding{
    margin-top: 20px;
}

.card-body{
    max-width: 1000px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.button-position{               /* Need find better method for this */
    margin-left: 1200px;
    margin-top: auto;
    margin-bottom: auto;

}

.button-font{
    font: #111111;
}

.ul-navbar-links{
    text-decoration: none;
}

.navbar-sections{
    display: grid;
    /* display: inline-block; */
    max-block-size: 200px;
    float: left;
    font: #ffffff;
}

.page-bottom-spacing{
    /*margin-bottom: 200px;*/
    max-height: 200px;
    max-width: 200px;
    background-color: #a59180;
}

/* ------------------------------ Images */

.location-top-left{
    background: url('../images/location(resize).jpg');
    background-position: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: -20px;
    min-height: 500px;
}

.location-top-right{
    background: url('../images/bar_view_with_seats(resize).jpg');
    background-position: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 0px;
    min-height: 500px;
}

.bar-welcome-image{
    background: url('../images/bar_welcome_image.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    margin-top: 20px;
    margin-bottom: 0px;   
}


.restaurant-image{
    background: url('../images/restaurant(resize2).jpg');
    background-position: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    margin-top: 20px;
}

.venue-image{
    background: url('../images/venue(resize).jpg');
    background-position: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    margin-top: 20px;
}

/* ------------------------------------- Social Media */

.social-links-footer li a i{
    width: 32px;
    height: 32px;
    padding: 8px 0;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    color: #141414;
    background: #a59180;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}